<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>register</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
     
    <div class="container">
                <form action="/login" method="post">
                <h1 id="registerheading">Login</h1>
       
                <!-- <p>Entre yor name</p>
                
                <input type="text" name="name" id="name" placeholder="Entre yor name"> -->
                
                <p>Entre yor user name</p>
               
                <input type="text" name="username" id="username" placeholder="Entre yor user name">
                
                <p>Entre the password</p>
                
                <input type="password" name="password" placeholder="Entre the password">
                <input type="submit" value="Login" id="rgtbtn">
                <a  id="already" href="/">Does not have an account</a>

               </form>
               
    </div>
    
</body>
</html>