<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../style/uplod.css">
<body>
    <form id="uplodcnt" action="/uploadcnt" method="post" enctype="multipart/form-data">
        <input id="imgs" type="file" name="file">
        <input  id="cont" type="text" name="desc">
        <button type="submit">upload</button>

    </form>
</body>
</html>